.container {
    background: #0C0C0D;
}
.topFooter {
    width:100%;
    border-bottom: 1px solid #8C8E92;
    display:flex;
    align-items:center;
}
.socialsContainer {
    margin-left:auto;
}
.socialsContainer li {
    display:inline;
}
.socialsContainer li:not(:last-child) {
    margin: 0 1rem;
}

.middleContainer {
    margin: 4rem 0rem;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.contentContainer {
    width:50%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap:wrap;
}

.contentContainer ul {
    min-width:45%;
    max-width:45%;
    margin: 1rem 0rem;
}

.contentContainer ul > li{
    margin-bottom: 1rem;
}

.newsletterContainer {
    width:fit-content;
    padding: 2rem;
    display:block;
    margin: 0 auto;
    border:1px solid #8C8E92;
    border-radius:5px;
}
.newsletterContainer h2 {
    margin: 0rem 1rem;
}

.editContainer {
    border-top:1px solid #8C8E92;
    padding-bottom:1rem !important;
    padding-top:1rem !important;
    display:flex;
    justify-content: space-between;
    align-items: center;
}




@media only screen and (max-width: 400px) {
    .topFooter {

    }
    .middleContainer {
        flex-direction:column;
    }
    .contentContainer {
        width:100%;
    }

    .socialsContainer li:not(:last-child) {
        margin: 0 .5rem;
    }
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 768px) and (min-width: 400px){
   
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 992px) and (min-width: 780px) {
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and  (max-width: 1100px) and (min-width: 992px){
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1100px) {
  
  }