/* CONTAINER LAYOUT */
.container {
    width:100%;
}

/* BANNER TOP LAYOUT */
.bannerLinear {
    background: linear-gradient(92.76deg, #8E2DE2 19.4%, #4A00E0 80.05%);
    color:white; 
    text-align:center;
    padding: 1rem 0rem;
}

/* NAVIGATION MENU */

.listNavigation {
    display:flex;
    width:100%;
    margin:1rem 0rem;
    justify-content:space-between;
    align-items:flex-end;
}
.internalNavigation {
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.internalNavigation a {
    display:block;
    width:fit-content;
}
.internalNavigation a:nth-child(1n) {
    margin: 0rem 4rem 0rem 0rem;
}

.internalNavigation a:not(:first-child),
.appNavigation {
    margin:0rem 2rem 1rem 2rem;
}

.appNavigation {
    margin-left:auto;
}

/* NAVIGATION MENU */

.backgroundMainLayout {
    z-index:-1;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.bubbleHome {
    position: absolute;
    border-radius:50%;
    filter: blur(100px);
}
.bubbleHomePurple {
    width: 396px;
    height: 396px;
    left: 15%;
    top: 25%;
    background: #D2D6FA;
}

.bubbleHomeGreen {
    width: 245px;
    height: 245px;
    right: 5%;
    top: 30%;
    background: #C7EAE4;
}

.bubbleHomeYellow {
    width: 122px;
    height: 122px;
    left: 30%;
    top: 90%;
    background: #FFD972;
}

.bubbleHomeCoral {
    width: 396px;
    height: 396px;
    left: 60%;
    top:80%;
    background: #FF8080;
}




  @media only screen and (max-width: 400px) {
    .bannerLinear {
        display:none;
    }
    .logo {
        max-width:120px;
    }
    .internalNavigation a:nth-child(2n),
    .internalNavigation a:nth-child(3n) {
        display:none;
    }

    .bubbleHomePurple {
        width:200px;
        height:200px;
        left:5%;
        top:20%;
    }
    .bubbleHomeGreen {
        width:170px;
        height:170px;
        right:5%;
        top:40%;
    }
    .bubbleHomeYellow {
        width:120px;
        height:120px;
        left:10%;
        bottom:10%;
    }
    .bubbleHomeCoral {
        width:200px;
        height:200px;
        right:10%;
        bottom:20%;
    }
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 768px) and (min-width: 400px){
    .bannerLinear {
        display:none;
    }
    .logo {
        max-width:120px;
    }
    .internalNavigation a:nth-child(2n),
    .internalNavigation a:nth-child(3n) {
        display:none;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 992px) and (min-width: 780px) {
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and  (max-width: 1100px) and (min-width: 992px){
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1100px) {
  
  }