.container {
    padding: 25px 50px;
    
}

.container_tesimonial_card {
    background-color:#FFFFFF;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-radius:15px;
    z-index:-2;
}

.container_tesimonial_card > div {
    max-width:50%;
}

.container_tesimonial_card > div p:nth-child(1) {
    margin-bottom:40px;
}

.container_image_with_rectangle {
    position:relative;
    width:290px;
    height:364px;
}



/* PRICING CARD */

.container_pricing_card {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px;
    gap: 30px;
    width: 400px;
    height: 840px;
    background: #F9F8F6;
    border-radius: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.container_pricing_card span {
    color: #7351EE;
    font-family: 'Montserrat';
    font-style: normal;
    
    letter-spacing: -1.5px;
    display:flex;
    align-items:center;
    color: #7351EE;
}

.block_pricing_card {
    width:100%
}

.container_pricing_card span > *:first-child {
    padding-left:10px;
    font-weight: 600;
    line-height: 20px;
    font-size: 26px;
}

.container_pricing_card span h3 {
    font-size: 32px;
}

.container_pricing_card span > *:last-child {
    padding-left:10px;
    font-size: 16px;
}
.container_pricing_card h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px ;
    line-height: 32px;
    color: #7351EE;
    padding-bottom:5px;
}


.container_pricing_card .block_pricing_card > *{
    padding-bottom:10px;
    font-family: 'Montserrat';
}

.container_pricing_card .block_pricing_card > button{
    margin-bottom:5px;
    cursor:pointer;
}

.container_pricing_card .block_pricing_card ul {
    width:100%;
}

.container_pricing_card .block_pricing_card li{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
    padding: 5px 10px;
    width:100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5B5B5D;
}

.container_pricing_card .block_pricing_card li > p:first-child{
    object-fit:content;
}


/* ------------------------------------------ 
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/

@media all and (min-width: 1536px){
    .container_pricing_card {
        padding: 50px 20px;
        gap: 30px;
        width: 500px;
        height:fit-content;
        margin:20px 0px;
    }
}


@media all and (min-width: 1024px) and (max-width: 1280px) {
    
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container_pricing_card {
        padding: 50px 20px;
        gap: 30px;
        max-width: 400px;
        height:fit-content;
        margin:20px 0px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    
    .container_pricing_card {
        padding: 50px 20px;
        gap: 30px;
        width: 100%;
        height:fit-content;
        margin:20px 0px;
    }
}

@media all and (max-width: 480px) {
    .container_tesimonial_card {
        display:flex;
        flex-direction:column-reverse;
    }

    .container_tesimonial_card > div {
        max-width:100%;
        padding: 20px 0px;
    }

    .container_image_with_rectangle  {
        height:280px;
        width:210px;
    }



    .container_pricing_card {
        padding: 50px 20px;
        gap: 30px;
        width: 100%;
        height:fit-content;
        margin:20px 0px;
    }
}
