.container {
    width:fit-content;
}

.rotate_90 {
    transform:rotate(90deg)
}

.rotate_270 {
    transform:rotate(270deg)
}


.svg_green {
    animation-name: animate_green;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes animate_green {
    0% {
        filter: drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 3px #a8ebdd)
        drop-shadow(0px 0px 5px #67ddc3)
    }
  
    100% {
      filter: drop-shadow(0px 0px 1px #fff)
      drop-shadow(0px 0px 1px #fff)
      drop-shadow(0px 0px 3px #a8ebdd)
      drop-shadow(0px 0px 5px #67ddc3)
      /* drop-shadow(0px 0px 34px #26CEA9); */
    }
  }

.svg_purple {
    animation-name: animate_purple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animate_purple {
    0% {
        filter: drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 3px #a25df9)
        drop-shadow(0px 0px 5px #7A18F6)
        
    }

    100% {
        filter: drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 1px #fff)
        drop-shadow(0px 0px 3px #a25df9)
        drop-shadow(0px 0px 5px #7A18F6)
    }
}



/* ------------------------------------------ 
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
   
}

@media all and (min-width: 480px) and (max-width: 768px) {
    
}

@media all and (max-width: 480px) {
    .displayMobile {
        display:none;
    }
}
