.homeBanner {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.homeBannerLeft {
    max-width:50%;
}

.homeBannerLeft,
.homeBannerRight {
    min-width:45%;
}

.homeBannerLeft h1 {
    margin-top: 8rem;
}

.homeBannerLeft input {
    margin-right:1rem;
}

.afterForm {
    margin:1rem 0rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.afterForm > p {
    margin-left:.5rem;
}

.homeBannerRight {

}


.homeClients {
    margin:4rem 0rem;
}
    .homeClientsList {
        display:flex;
        justify-content:center;
        align-items:center;
    }
        .homeClientsList li {
            margin: 0rem 2rem;
        }

.blockFeatures {
    margin: 5rem 0rem;
    display:flex;
    align-items:center;
}
.blockFeatures:nth-child(even) {
    flex-direction:row-reverse;
}
.blockFeatures:nth-child(even) .blockFeatureRight {
    margin-right:auto;
    margin-left:0;
}
        .blockFeaturesList {
            margin:2rem 0rem;
        }
            .blockFeaturesItems {
                display:flex;
                align-items:center;
                margin: 1.5rem 0rem
            }
                .blockFeaturesItems > p {
                    margin-left: 1rem;
                }

.blockFeatureLeft, 
.blockFeatureRight {
    width:45%;
}

.blockFeatureRight {
    position:relative;
    margin-left:auto;
}

.homeSupportedBy {
    margin: 5rem 0rem;
    text-align:center;
}
.homeSupportedBy p {
    margin-bottom: 3.5rem;
}

.homeEarlyAccess {
    margin: 12rem auto;
    width:fit-content;
}

.homeEarlyAccess input {
    margin-right:1rem;
}

.imageBlocks {
    display:block;
    height:110%;
    margin: 0 auto;
}

.logoClients {
    width:200px;
    height:200px;
}


@media only screen and (max-width: 400px) {
    .homeBanner {
        flex-direction:column;
        text-align:center;
    }
    .homeBannerLeft,
    .homeBannerRight {
        width:100%;
    }

    .homeBannerLeft {
        max-width:100%;
    }

    .homeBannerRight {
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        width:120%;
    }

    .homeBannerLeft h1 {
        margin-top: 3rem;
    }
    .afterForm {
        justify-content:center;
    }

    .homeClientsList {
        flex-direction:column;
    }

    .homeClientsList li {
        width:50%;
        margin: 0 auto;
    }
    .blockFeatures,
    .blockFeatures:nth-child(even) {
        flex-direction:column;
        text-align:center;
    }
    .blockFeatureLeft,
    .blockFeatureRight {
        width:100%;
    }

    .homeEarlyAccess {
        width:100%;
        margin: 6rem auto;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 400px){
    .homeBanner {
        flex-direction:column;
        text-align:center;
    }
    .homeBannerLeft,
    .homeBannerRight {
        width:100%;
    }
    .homeBannerRight {
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        width:120%;
    }

    .homeBannerLeft h1 {
        margin-top: 3rem;
    }
    .afterForm {
        justify-content:center;
    }

    .homeClientsList {
        flex-direction:column;
    }

    .homeClientsList li {
        width:50%;
        margin: 0 auto;
    }

    .blockFeatures,
    .blockFeatures:nth-child(even) {
        flex-direction:column;
        text-align:center;
    }
    .blockFeatureLeft,
    .blockFeatureRight {
        width:100%;
    }

    .homeEarlyAccess {
        width:100%;
        margin: 6rem auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 780px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and  (max-width: 1100px) and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {

}