.homeBanner {
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.homeBannerLeft,
.homeBannerRight {
    min-width:45%;
}

.homeBannerLeft h1 {
    margin-top: 8rem;
}

.homeBannerLeft input {
    margin-right:1rem;
}

.afterForm {
    margin:1rem 0rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.afterForm > p {
    margin-left:.5rem;
}

.homeBannerRight {

}


.homeClients {
    margin:4rem 0rem;
}
    .homeClientsList {
        display:flex;
        justify-content:center;
        align-items:center;
    }
        .homeClientsList li {
            margin: 0rem 2rem;
        }

.blockFeatures {
    margin: 5rem 0rem;
    display:flex;
    align-items:center;
}
.blockFeatures:nth-child(even) {
    flex-direction:row-reverse;
}
        .blockFeaturesList {
            margin:2rem 0rem;
        }
            .blockFeaturesItems {
                display:flex;
                align-items:center;
                margin: 1.5rem 0rem
            }
                .blockFeaturesItems > p {
                    margin-left: 1rem;
                }

.blockFeatureLeft {
    width:45%;
}

.blockFeatureRight {
    position:relative;
    margin: 0 auto;
}

.homeSupportedBy {
    margin: 5rem 0rem;
    text-align:center;
}
.homeSupportedBy p {
    margin-bottom: 3.5rem;
}

.homeEarlyAccess {
    margin: 12rem auto;
    width:65%;
    text-align:center;
}

.homeEarlyAccess input {
    margin-right:1rem;
}

.homeEarlyAccess .afterForm {
    justify-content:center;
}
