/* TEXT CLASS GENERIC -- SIZE */

.headingTitle {
    font-size: 40px;
    margin: 3rem 0rem;
}

.headingSubTitle {
    font-size: 20px;
    margin: 3rem 0rem;
}
.size24Text {
    font-size:24px;
}
.sizeSubtitleText {
    font-size:20px;
}

.sizeBodyText {
    font-size:16px;
}

/* TEXT CLASS GENERIC -- POSITIONING AND OTHER */

.bold {
    font-weight: bold;
}

.textAlign {
    text-align:center;
}


/* TEXT CLASS GENERIC -- COLOR */
.textWhite {
    color:white;
}

.textMainColor {
    color: #0C0C0D;
}

.textMediumColor {
    color:#2F2F30;
}

.textLightColor {
    color: #8C8E92;
}

.textCoral {
    color:#FF8080;
}

.textBlue {
    color: #1B31FF;
}



/* OTHER CLASS GENERIC */
.boxShadowCard {
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25);
}


.paddingSide {
    padding: 0 5rem;
}


@media only screen and (max-width: 400px) {
    
    
    .paddingSide {
        padding:0 2rem;
    }
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 768px) and (min-width: 400px){
    .paddingSide {
        padding:0 3rem;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 992px) and (min-width: 780px) {
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and  (max-width: 1100px) and (min-width: 992px){
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1400px) {
    .paddingSide {
        padding: 0 10rem;
    }
  }