/* TEXT CLASS GENERIC -- SIZE */

.headingTitle {
    font-size: 40px;
    margin: 3rem 0rem;
}

.headingSubTitle {
    font-size: 20px;
    margin: 3rem 0rem;
}
.size24Text {
    font-size:24px;
}
.sizeSubtitleText {
    font-size:20px;
}

.sizeBodyText {
    font-size:16px;
}

/* TEXT CLASS GENERIC -- POSITIONING AND OTHER */

.bold {
    font-weight: bold;
}

.textAlign {
    text-align:center;
}


/* TEXT CLASS GENERIC -- COLOR */
.textWhite {
    color:white;
}

.textMainColor {
    color: #0C0C0D;
}

.textMediumColor {
    color:#2F2F30;
}

.textLightColor {
    color: #8C8E92;
}

.textCoral {
    color:#FF8080;
}

.textBlue {
    color: #1B31FF;
}



/* OTHER CLASS GENERIC */
.boxShadowCard {
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25);
}


.paddingSide {
    padding: 0 5rem;
}